.login_button{
    width: 80%;
    margin: 0 auto;
}
.item_end {
    font-size: 1rem;
    color: #666;
}

ion-label[fixed]{
    flex: 0 0 80px;
    width: 80px;
    min-width: 80px;
    max-width: 100px;
}