.reg_btn{
    width: 80%;
    margin: 0 auto;
    display: block;
}

.register_page{

    border:1px solid #eee;
    height: 5rem;
    display: flex;
    margin: 0.5rem;
    font-size: 2.5rem;
    padding: 1rem 0.5rem;

    .country_code{
        
        text-indent: 0.5rem;
        width:  10rem ;
       
        
        input{

            width: 9rem;
            text-align: center;
            border: 1px solid #666;
            
            
        }
    }

    .phone_no{
       
        width:22rem;
        
        input{
            width:23rem;
            text-align: center;
            border:1px solid #666;
            margin-left: 1rem;
            
            
        }
    }
}